body {
	min-height: 1000px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4475c8+0,7f109c+100,2989d8+100 */
	background: $primary-color; /* Old browsers */
	background: -moz-linear-gradient(top, $primary-color 0%, $secondary-color 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, $primary-color 0%,$secondary-color 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, $primary-color 0%,$secondary-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary-color', endColorstr='$secondary-color 10',GradientType=0 ); /* IE6-9 */
}

