#contact-section {
	padding-top: $grid-row-top-padding*3.5;
	padding-bottom: $grid-row-top-padding*3;
	@include breakpoint(medium down) {
		padding-top: $grid-row-top-padding*2;
		padding-bottom: $grid-row-top-padding;
	}
	h3, p {
		color: $white;
	}
	h3 {
		padding-bottom: $grid-row-top-padding*2;
		@include breakpoint(medium down) {
			padding-bottom: $grid-row-top-padding;
		}
	}
	.button {
		border: 1px solid smart-scale($secondary-color, 10%);
		color: smart-scale($white, -50%);
		transition: border-color 0.25s ease-in-out;
		text-transform: uppercase;
		font-weight: 600;
	}
	.button:hover {
		border: 1px solid smart-scale($secondary-color, 50%);
		color: $white;
	}
	a {
		color: $white;
		// opacity:0.8;
		font-weight:600;
	}
	a:hover {
		opacity: 0.8;
	}
}