#tech-section {
	padding-top: $grid-row-top-padding*3;
	padding-bottom: $grid-row-top-padding*4;
	background: $white;
	@include breakpoint(medium down) {
		padding-top: $grid-row-top-padding*2;
		padding-bottom: 0;
		.row > div {
			padding-bottom: $grid-row-top-padding*2.5;
		}
	}
	h3 {
		padding-bottom: $grid-row-top-padding*1.5;
		@include breakpoint(medium down) {
			padding-bottom: $grid-row-top-padding;
		}
	}
	h3:after {
		border-bottom: 1px solid $dark-gray;
	}
}