<div class="container" id="intro-section">
  <div class="row">
    <div class="medium-3 columns">
      <img src="assets/img/constant-meiring.png" alt="Constant Meiring - Freelance Ruby On Rails Developer">
    </div>
    <div class="medium-9 columns">
      <p class="larger-type">Hey there!</p>
      <p>I’m Constant, a freelance Ruby on Rails developer with experience in a wide range of 
      technologies. I’ve spent the better part of the last decade helping build
      startups like <a title="Leaply" href="https://leap.ly">Leaply</a> and <a title="Offerzen" href="https://offerzen.com">Offerzen</a>. When I’m not coding or cuddling my cats,  I’m probably travelling or exploring South Africa with my BMW F800GSA.</p>
    </div>
  </div>
</div>