<div class="container" id="intro-section">
  <div class="row">
    <div class="small-3 medium-3 columns small-only-text-center">
      <img src="assets/img/constant-meiring.png" alt="Constant Meiring - Freelance Ruby On Rails Developer">
    </div>
    <div class="small-9 medium-9 columns">
      <p class="larger-type">Hey there!</p>
      <p>I’m Constant, a <b>Ruby on Rails and VueJS developer</b> with experience in a wide range of 
      technologies. I’ve spent the better part of the last decade helping build
      startups like <a target="_blank" title="Leaply" href="https://leap.ly">Leaply</a>, <a title="Offerzen" target="_blank" href="https://www.offerzen.com">Offerzen</a> and <a title="Offerzen" target="_blank" href="https://popcorntraining.com">Popcorn Training</a>.
      Living between Amsterdam, Cape Town and Bali, I enjoy building products that users love and exploring the world on two wheels.</p>
    </div>
  </div>
</div>
