<div class="container" id="tech-section">
  <div class="row">
    <div class="medium-6 columns">
      <h3>Preferred Technologies</h3>
        <span class="tag">
          <span class="title">Ruby on Rails</span>
        </span>
        <span class="tag">
          <span class="title">Postgres</span>
        </span>
        <span class="tag">
          <span class="title">Redis</span>
        </span>
        <span class="tag">
          <span class="title">Redis</span>
        </span>
        <span class="tag">
          <span class="title">Redis</span>
        </span>
    </div>
    <div class="medium-6 columns">
      <h3>Experienced In</h3>
      <span class="tag">
        <span class="title">Ruby on Rails</span>
      </span>
      <span class="tag">
        <span class="title">Postgres</span>
      </span>
      <span class="tag">
        <span class="title">Redis</span>
      </span>
      <span class="tag">
        <span class="title">Redis</span>
      </span>
      <span class="tag">
        <span class="title">Redis</span>
      </span>
    </div>
  </div>
</div>