<div class="container" id="tech-section">
  <div class="row">
    <div class="medium-6 columns">
      <h3>Preferred Technologies</h3>
        {{#each technologies-preferred}}
          <span class="tag">
            <span class="title">{{this}}</span>
          </span>
        {{/each}}
    </div>
    <div class="medium-6 columns">
      <h3>Experienced In</h3>
      {{#each technologies-experienced}}
        <span class="tag">
          <span class="title">{{this}}</span>
        </span>
      {{/each}}
    </div>
  </div>
</div>