<div class="container" id="contact-section">
  <div class="row">
    <div class="medium-12 columns">
      <h3>Get in touch</h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <p>
        Have an idea for a startup that needs an MVP? Need a bug 
        fixed or a feature added to your existing Rails codebase.
      </p>
      <p>
        To get in touch, simply fill in the contact form and I’ll get back 
        to you. Alternatively, I can be reached at hello@constant.co.za
      </p>
      <p>
        You can also find me on <a title="GitHub - Constant Meiring" href="https://github.com/constantm">GitHub</a>, <a title="Stack Overflow - Constant Meiring" href="stackoverflow.com/users/162034/constant-meiring">Stack Overflow</a>, and <a href="https://twitter.com/constantlm">Twitter</a>. 
      </p>
      <p>
        My full resume can be found on <a title="LinkedIn - Constant Meiring" href="https://linkedin.com/in/constantmeiring">LinkedIn</a>.
      </p>
      <p id="social-icons">
        <a target="_blank" title="GitHub - Constant Meiring" href="https://github.com/constantm">{{> icon-github}}</a>
        <a target="_blank" title="Stack Overflow - Constant Meiring" href="stackoverflow.com/users/162034/constant-meiring">{{> icon-stackoverflow}}</a>
        <a target="_blank" href="https://twitter.com/constantlm">{{> icon-twitter}}</a>
        <a target="_blank" title="LinkedIn - Constant Meiring" href="https://linkedin.com/in/constantmeiring">{{> icon-linkedin}}</a>
      </p>
    </div>
    <div class="medium-6 columns">
      <form action="">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea rows="5" placeholder="Message"></textarea>
        <div class="panel clearfix">
          <button type="submit" class="hollow button float-right">Send</button>
        </div>
      </form>
    </div>
</div>