<div class="container" id="services-section">
  <div class="row">
    <div class="medium-12 columns">
      <h3>Services</h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <h4 class="icon-header">
        {{> icon-hammer}}
        Product Maintenence
      </h4>
      <p>
        I love building applications that get
        used by real people. I love building 
        applications that get used by real 
        people.
      </p>
    </div>
    <div class="medium-4 columns">
      <h4 class="icon-header">
        {{> icon-webapp}}
        MVP Development
      </h4>
      <p>
        As a full stack software engineer with eight years of experience in startups, I can help you realise your application from spec to deployment.
      </p>
    </div>
    <div class="medium-4 columns">
      <h4 class="icon-header">
        {{> icon-compass}}
        CTO as a service
      </h4>
      <p>
        Non-technical founder? Let me help you make the right choices for the long term viability and scalibility of the technology used in your business.
      </p>
    </div>
  </div>
</div>